/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы 
в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: Inter, Helvetica;
  font-weight: 400;

  color: var(--accent-color);

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: var(--background-image-gradients);

  display: flex;
  flex-direction: column;
  align-items: center;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-text-family), Helvetica;
    font-variation-settings: "wght" var(--main-text-paragraph-weight);
  }
  h3 {
    font-family: var(--main-text-family), Helvetica;
    font-variation-settings: "wght" var(--main-text-title-weight);
  }
}

.header {
  inline-size: var(--inline-size);
  block-size: clamp(323px, 250px + 7.9vi, 364px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
  background-color: var(--background-color);

  margin: 102px 0;
  padding-block-start: clamp(120px, 100px + 2.5vi, 136px);
  gap: 2.1dvb;
  gap: 20px;
}

.header,
.card,
.dialog-insert-floppy {
  border: 2px solid var(--accent-color);
}

.header-title {
  font-family: var(--accent-text-family); /*Press Start 2P;*/

  /*font-size: 65px;
  font-size: clamp(3.063rem,7vi,4.063rem);*/
  font-size: clamp(49px, 5vi, 65px);
  /*line-height: 65px;
  line-height: clamp(3.063rem,7vi,4.063rem);*/
  line-height: clamp(49px, 5vi, 65px);

  text-transform: uppercase;
}

.header-title__extra {
  font-family: var(--accent-text-family); /*Press Start 2P;*/
  font-weight: 400;
  font-size: clamp(14px, 1.6vi, 23px);
  line-height: clamp(14px, 1.6vi, 23px);

  text-transform: uppercase;
}

nav {
  margin-inline: auto;
  margin-block-start: 0px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-left: 13px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.card {
  inline-size: var(--inline-size);
  background-color: var(--background-color);
}

img {
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
  object-position: center;
}
/*
.heart {
  inline-size: 30px;
  block-size: 30px;
}
*/
h3,
p {
  inline-size: 100%;
  align-self: flex-start;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;

  padding: 6px 0 0 8px;

  border-block-end: 2px solid var(--accent-color);
}

.card__text {
  padding: 27px 20px 0 25px;
  font-size: 18px;
  line-height: 21px;
  text-wrap: wrap;
  word-wrap: normal;
  overflow-wrap: none;

  display: flex;
  flex-direction: column;
  gap: 26px;
}

.card__img-wrapper {
  position: relative;
}

.card__img-label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 30px;

  font-family: var(--accent-text-family);
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  color: var(--accent-color);
  mix-blend-mode: hard-light;

  text-shadow: -0.5px 0 var(--label-stroke-color),
    0 0.5px var(--label-stroke-color), 0.5px 0 var(--label-stroke-color),
    0 -0.5px var(--label-stroke-color);
}

@supports (
  (text-stroke: 1px var(--label-stroke-color)) or
    (-webkit-text-stroke: 1px var(--label-stroke-color))
) {
  .card__img-label {
    -webkit-text-stroke: 0.5px var(--label-stroke-color);
    text-stroke: 0.3px var(--label-stroke-color);
    text-shadow: none;
  }
}

.card__like {
  display: flex;
  justify-content: flex-end;

  margin: 25px 25px 25px 0;
}

button {
  background-color: var(--background-color);
  border: none;

  font-size: 14px;
  line-height: 14px;
  font-family: "Press Start 2P";
}

button:focus {
  outline: none;
}

.theme-menu__button {
  text-transform: uppercase;
  position: relative;
}

.theme-menu__button:after {
  content: "";
  border-bottom: 2px solid currentColor;
  position: absolute;
  inset-block-end: -2px;
  inset-inline-start: 6px;
  inline-size: 85%;
  transition: scale 0.3s ease;
  transform-origin: left;
  scale: 0 1;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus {
  animation: fade 0.3s ease forwards;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus-visible::after {
  scale: 1 1;
}

.theme-menu__button:disabled::before {
  content: "▶";
  inset-inline-start: -15px;
  position: absolute;
  animation: wiggle 0.5s ease-in-out infinite;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;

  font-size: 14px;
  line-height: 12.6px;

  border: 2px solid currentColor;

  position: relative;
}

.save-button,
.ok-button {
  inline-size: 337px;
  block-size: 53px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  border: 2px solid currentColor;
}

.ok-button {
  inline-size: 357px;
  block-size: 193px;

  background-color: var(--background-color);
}

.dialog-insert-floppy {
  background-color: var(--background-color);

  inline-size: 357px;
  block-size: 193px;
  margin-inline: auto;
}

.button-dialog {
  /*block-size: 38px;
  inline-size: 92%;*/
  inline-size: 293px;
  block-size: 38px;

  border: 2px solid var(--accent-color);
}

.dialog-wrapper {
  display: flex;
  inline-size: 293px;
  gap: 20px;
  align-items: center;
  mix-blend-mode: difference;
}

.dialog-text {
  font-family: var(--accent-text-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;

  inline-size: 200px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save-button svg {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
}

.animated-button::before {
  content: "";

  /*border-bottom: 2px solid currentColor;*/
  background-color: var(--accent-color);
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: 0px;
  inline-size: 100%;
  block-size: 100%;
  transition: scale 0.3s ease;
  transform-origin: left;
  scale: 0 1;
}

.animated-button:hover::before {
  scale: 1 1;
}

.animated-button:focus-visible {
  animation: fade-in-box-shadow 0.3s forwards ease;
}

.card__icon-button {
  outline: none;
  border: 2px solid var(--background-color);
}

.card__icon-button:focus-visible {
  animation: fade-in-heart-border 0.3s forwards ease;
}

.button__text {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--accent-color-button);
}

.test {
  inline-size: 50px;
}

.button__text-dialoge {
  text-transform: uppercase;
}

.floppy {
  /*fill: var(--accent-color-button);*/
  mix-blend-mode: difference;
  z-index: 3;
  position: relative;
  background-color: blueviolet;
  color: blueviolet;
  fill: aquamarine;
}
#floppy {
  mix-blend-mode: difference;
  z-index: 3;
  position: relative;
  background-color: blueviolet;
  color: blueviolet;
  fill: aquamarine;
}

.core {
  fill: rgba(255, 0, 0, 0);
  transition: fill 0.3s 0.03s;
}

.main-body {
  fill: rgba(255, 0, 0, 0);
  transition: fill 0.3s 0.05s;
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.3s 0.06s;
}

.sparks {
  fill: rgba(255, 0, 0, 0);
  transition: fill 1.3s;
}

.core:hover {
  /*fill:var(--heart-color-visible);
  fill: red;*/
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
}

.card__icon-button:active .core {
  fill: var(--heart-color-visible);
}

.card__icon-button:active .main-body {
  fill: var(--heart-color-visible);
}

.like-icon.is-liked .core {
  fill: var(--heart-color-visible);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color-visible);
}

.like-icon.is-liked .contour {
  fill: var(--heart-color-visible);
}

.like-icon.is-liked {
  animation: scale-heart 0.3s ease-in;
}

.like-icon.is-liked .sparks {
  animation: flash-sparks-heart 0.3s 0.3s ease-in;
}

.image__beggining {
  filter: brightness(170%);
}
.image__start {
  filter: contrast(170%);
}
.image__first-project-done {
  filter: blur(0.4rem);
}
.image__chasing-perfection {
  filter: grayscale(0.8);
}
.image__group {
  filter: saturate(128%) invert(1.2);
}
.image__different-approach {
  filter: hue-rotate(-90deg);
}
.image__feeling {
  filter: sepia(80%);
}

.dialog-insert-floppy[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (width <= 375px) {
  .save-button {
    inline-size: 308px;
    block-size: 82px;
    flex-direction: column;
  }

  .save-button svg {
    width: 30px;
    height: 30px;
  }
  .dialog-insert-floppy {
    inline-size: 341px;
    block-size: 195px;
  }

  .button-dialog {
    inline-size: 257px;
    block-size: 38px;
    margin-inline: 0;
  }

  .dialog-wrapper {
    justify-content: center;
  }
}
